
@{
    ViewBag.Title = "E-signeringsoppdrag opprettet!";
}

<input type="hidden" id="status-code" value="@((int)ViewBag.Response.Code)" />
<div class="container">
    <div class="formdiv">
        <div id="alert-success" class="alert alert-success">
            <h2 class="alert-heading">@ViewBag.Title</h2>@ViewBag.Response.Message
        </div>
        <br />
        <div id="alert-error">
            <div class="alert alert-danger">
                <h4 class="alert-heading">Melding fra server:</h4>@ViewBag.Response.Message
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-5">
                @Html.ActionLink("Velg en ny mottaker", "Index", "Signeringsportal", new { area = "" }, new { @class = "btn btn-primary btn-lg btn-block" })
            </div>
            <div class="col-md-7">
                @using (Html.BeginForm("HentAnsattInfo", "Signeringsportal", routeValues: new { ViewBag.Token }, method: FormMethod.Post, htmlAttributes: new { id = "form-main", enctype = "multipart/form-data" }))
                {
                    <input type="hidden" name="ansattNr" value="@ViewBag.AnsattNr" />
                    <button type="submit" id="btn-submit" class="btn btn-lg btn-block btn-primary">Send flere dokumenter til mottaker</button>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var statusCode = $('#status-code').val();

        console.log('s: ' + statusCode);

        if (statusCode == 0) {
            $('#alert-error').prop('hidden', true);
        } else if (statusCode == 1) {
            $('#alert-success').prop('hidden', true);
        }
    });

</script>